<div class="dark-bg lighter-font mt-5" style="min-height: 92.7vh;">
  
  <section class="mt-5 pt-5 pb-4 align-self-center">
    <div class="row my-3">
      <div class="col-12 text-center">
        <img src="https://res.cloudinary.com/torre-technologies-co/image/upload/v1601512321/origin/bio/organizations/Torre_logo_small_uubm3e.png" alt="torre logo">
      </div>
    </div>

    <h1 class="h1-responsive text-center font-weight-bold main-font">GROW WITH TORRE</h1>
    <div class="row">
      <div class="col-12 text-center darker-font">
        Understand the labor market and grow with Torre
      </div>
    </div>
  </section>

  <section>
    <% if current_user.present? %>
      <div class="row">
        <div class="col-12 text-center">
          <%= link_to 'Return to Dashboard', dashboard_path, class:"btn btn-rounded main-bg dark-font" %>      
        </div>
      </div>
    <% else %>
      <%= react_component("HomeContainer") %>
    <% end %>

    <div class="row mt-5">
      <div class="col-12 col-md-6 offset-3 lighter-font">
        This app is designed for:
        <ul class="pl-4 mt-3">
          <li class="my-2"><b>Universities/Colleges: </b> So they can get insights about current students, and motivate them to join Torre early on in their professional carrers</li>
          <li class="my-2"><b>Bootcamps, online education (and Universities): </b> So they can get insights about how many of their students or alumni are working, in which companies, and compare results against their competitors. With the final goal that they keep recommending Torre to new users, to keep updating all GWTorre stats. </li>
        </ul>
      </div>
    </div>
    
  </section>
  <!-- if time allows gcaptcha v3 to replace first step to be clicking a button -->
</div>