<div class="white-text">
  <section class="mt-5 py-5">
    <!-- logo here ??? -->
    <h1 class="h1-responsive text-center font-weight-bold main-font">GROW WITH TORRE</h1>
    <div class="row">
      <div class="col-12 text-center">
        Understand de labor market and grow with Torre
      </div>
    </div>
  </section>

  <!-- if time allows gcaptcha v3 to replace first step to be clicking a button -->
  <!-- react container with button to display search form -->

  

</div>