<div class="my-5 pt-5 darker-font mt-5">
  <section class="mt-2">
    <div class="row">
      <div class="col-12">
        <h1 class="h1-responsive font-weight-bold text-center">Main Insights</h1>
        <h2 class="h3-responsive font-weight-bold text-center lighter-font"><%= current_user.organization_name %></h2>
      </div>
    </div>
  </section>
  <section >
    <%= react_component("DashboardContainer", organization: current_user.organization_name) %>
  </section>
</div>