<nav class="py-3 navbar fixed-top navbar-toggleable-md navbar-expand-lg navbar-dark double-nav dark-bg lighter-font">
  <div class="container">
    <a class="navbar-brand" href="/" style="font-weight: 400;">GWTorre</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav ml-auto text-center text-lg-right">
        <% if current_user.present? %>
          <li class="nav-item align-self-center main-font mr-lg-3">
            <%= link_to dashboard_path, class: 'nav-link' do %>
              <i class="fas fa-tachometer-alt"></i> <span class="clearfix d-sm-inline-block main-font">Dashboard</span>
            <% end %>
            
            
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" style="font-size: 1rem">
              <%= current_user.full_name %>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-danger" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do %>
                <i class="fa fa-user"></i> <span class="clearfix d-sm-inline-block">Sign Out</span></a>
              <% end %>      
            </div>
          </li>
        <% else %>
          <!-- <li class="nav-item">
            <%# link_to new_user_registration_path, class: 'nav-link' do %>
              <i class="fa fa-user"></i> <span class="clearfix d-sm-inline-block main-font">Sign Up</span></a>
            <%# end %>
          </li> -->
          <li class="nav-item">
            <%= link_to new_user_session_path, class: 'nav-link' do %>
              <i class="fa fa-user"></i> <span class="clearfix d-sm-inline-block main-font">Sign In</span>
            <% end %>
          </li>
        <% end %>
        
      </ul>
    </div>
  </div>
</nav>